

services:
  mysite:
    build: ./mysite
    container_name: mysite
    ports:
      - "8000:8000"
    environment:
      - KRAKEN_API_URL=http://api:8001
    depends_on:
      - api
    networks:
      - app-network

  api:
    build: ./api
    container_name: api
    ports:
      - "8001:8001"
    networks:
      - app-network

  dag-processor:
    build: ./airflow
    container_name: dag-processor
    ports:
      - "8080:8080"
    networks:
      - app-network
    depends_on:
      - postgres

networks:
  app-network:
    driver: bridge