{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block title %}Análise Avançada{% endblock %}

{% block extra_css %}
<style>
    .filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 5%;

    }


    span {
        font-size: 14px;
        font-weight: bold;
        color: #F8F8F8 !important;
        text-align: center;
        text-transform: uppercase;
    }


    .advanced-search-filter-header {
        display: flex;
        justify-content: space-around;
    }


    .select2-hidden-accessible {
        background-color: #1D232C;
        color: #F8F8F8;
        border: 1px solid #2B313E;
        border-radius: 10px;
        padding: 2%;
        margin-left: 5%;
        width: 107%;
    }

    .js-input-form {
    background-color: #19212C;
    color: #F8F8F8;
    border: 1px solid #222B3A;
    border-radius: 10px;
    }

    .js-input-form:focus, 
    .js-input-form-btn:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #222B3A;
    border-radius: 10px;
    background-color: #19212C;
    color: #F8F8F8;
    }

    .js-input-form input::-webkit-outer-spin-button,
    .js-input-form input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    .js-input-form-btn {
    width: 20%;
    background-color: #19212C;
    color: #F8F8F8;
    border: 1px solid #222B3A;
    border-radius: 10px;
    
    }









    .advanced-search-filter-header span,
    span {
        font-size: 14px;
        font-weight: bold;
        color: #F8F8F8 !important;
        text-align: center;
        text-transform: uppercase;
    }


    .indicadores,
    .grid {
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1%;
    }


    .actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2%;
    border: 1px solid #2B313E;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #19212C;
    align-content: center;
    align-items: center;
    }

    .card-indicator {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 100%;
    background-color: #222B3A;
    border: 1px solid #2B313E;
    border-radius: 10px;
    height: 90%;
    margin: 3%;
    }

    .d-flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .preco-teto {
        background-color: #19212C;
        border: 1px solid #2B313E;
        border-radius: 10px;
        padding: 2%;
        margin: auto;
        width: 100%;
        height: auto;
    }
    .card-projetivo {
    display: flex;
    background-color: #144059;
    border: 1px solid #91CAE9;
    border-radius: 10px;
    padding: 1%;
    width: 30%;
    height: auto;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    }

    .flex-col{
        display: flex;
        flex-direction: column;
    }

    .flex-item{
        display: flex;
        flex-direction: row;
    }

    .line{
        
        border-bottom: 2px solid #222B3A;
        margin: auto;
        width: 100%;
        margin: 2% 0px;
    }

    .grid-cards{
        display: grid;
        width: 100%;
        grid-template-columns: repeat( 3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1%;
    }



    .row-item {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

</style>
{% endblock %}
{% block content %}

<div class="filter">
    <div class="indicadores grid">

            
            <div class="actions" id="margem-seguranca">
                <div class="card-indicator actions-card">

                    <div class="advanced-search-filter-header">
                        <span>Se deseja Receber:</span> 
                    </div>
                    <div class="form-inline d-flex justify-content-center align-items-center">
                        <input type="number" name="pl_min" class="js-input-form form-control form-control-sm"
                            style="width: 48%" value="{{ filters.pl_min|stringformat:'d' }}">
                    </div>
                </div>


                <div class="card-indicator actions-card">
                    <div class="advanced-search-filter-header">
                        <h2>R$11,89</h2>
                    </div>
                    <div class="advanced-search-filter-header">
                        <span>Margem de Segurança:</span>
                    </div>
                    <div class="advanced-search-filter-header">
                        <span>-13,00%</span> 
                    </div>
                </div>
            </div>
            

            <div class="actions" id="margem-seguranca">
                <div class="card-indicator actions-card">

                    <div class="advanced-search-filter-header">
                        <span>Cotação atual</span> 
                    </div>
                    <div class="form-inline d-flex justify-content-center align-items-center">
                       <span>R$ {{ acoes.cotation }}</span>
                    </div>
                </div>


                <div class="card-indicator actions-card">
                    <div class="advanced-search-filter-header">
                        <h2>R$11,89</h2>
                    </div>
                    <div class="advanced-search-filter-header">
                        <span>Margem de Segurança:</span>
                    </div>
                    <div class="advanced-search-filter-header">
                        <span>-13,00%</span> 
                    </div>
                </div>
            </div>

            <div class="actions" id="margem-seguranca">
                <div class="card-indicator actions-card">
                    <div class="advanced-search-filter-header">
                        <h2>R$11,89</h2>
                    </div>
                    <div class="advanced-search-filter-header">
                        <span>Margem de Segurança</span>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="preco-teto">
            <div class="title">
                <h3>Preço Teto Projetivo</h3>
                <span>Ticker</span>
            </div>
            <div class="card-projetivo">
                <div class="flex-col">
                    <div class="flex-item">
                        <span>Preço Teto "usuario aqui"</span>
                    </div>
                    <div class="flex-item">
                        <span>Margem de segurança: {{ acoes.cotation }} %</span>
                    </div>
                </div>
                
                <div class="flex-col">
                    <span> R$ 11,89 </span>
                </div>

            </div>

            <div class="line"></div>

            <div class="row-item ">
                <div class="inputs flex-col">
                    <div class="flex-item payout">
                        <input type="text" class="js-input-form form-control form-control-sm">       
                    </div>

                    <div class="flex-item lucro">
                        <input type="number" class="js-input-form form-control form-control-sm">   
                        +
                        <input type="number" class="js-input-form-btn form-control form-control-sm">    
                    </div>

                    <div class="flex-item yield">
                        <input type="number" class="js-input-form form-control form-control-sm">   
                    </div>

                    <div class="flex-item btn">
                        <button type="submit" class="btn-default border-radius-10">Salvar</button>
                        <button type="submit" class="btn-default border-radius-10">Reiniciar filtros</button>

                    </div>

                </div>

                <div class="flex-item cards">
                    <div class="grid-cards">
            
                            <div class="card-indicator actions-card">
            
                                <div class="advanced-search-filter-header">
                                    <span>Cotação atual</span> 
                                </div>
                                <div class="form-inline d-flex justify-content-center align-items-center">
                                   <span>R$ {{ acoes.cotation }}</span>
                                </div>
                            </div>
                        




                            <div class="card-indicator actions-card">
            
                                <div class="advanced-search-filter-header">
                                    <span>LPA (projetivo)</span> 
                                </div>
                                <div class="form-inline d-flex justify-content-center align-items-center">
                                   <span>R$ {{ acoes.lpa }}</span>
                                </div>
                            </div>
                        



                        
                            <div class="card-indicator actions-card">
            
                                <div class="advanced-search-filter-header">
                                    <span> Qnt. papéis <span> 
                                </div>
                                <div class="form-inline d-flex justify-content-center align-items-center">
                                   <span>{{ acoes.numero_papeis }}</span>
                                </div>
                            </div>
                        



                       
                            <div class="card-indicator actions-card">
            
                                <div class="advanced-search-filter-header">
                                    <span> DPA (projetivo)</span> 
                                </div>
                                <div class="form-inline d-flex justify-content-center align-items-center">
                                   <span>R$ {{ acoes.dpa }}</span>
                                </div>
                            </div>
                        



                            <div class="card-indicator actions-card">
            
                                <div class="advanced-search-filter-header">
                                    <span>Yield (projetivo)</span> 
                                </div>
                                <div class="form-inline d-flex justify-content-center align-items-center">
                                   <span>{{ acoes.dy }} %</span>
                                </div>
                            </div>
                        



                        <div class="card-indicator actions-card">
            
                                <div class="advanced-search-filter-header">
                                    <span>Cotação atual</span> 
                                </div>
                                <div class="form-inline d-flex justify-content-center align-items-center">
                                   <span>R$ {{ acoes.cotation }}</span>
                                </div>
                            </div>
                        

                    </div>

                </div>
            </div>
        </div>

            

       
            

            
</div>





{% endblock %}